body {
    width: 90%;
    margin: auto;
    background-color: chocolate;
}

a {
    color: white;
}
a:hover {
    color: white;
}

.buttons {    
    padding: 20px;
}

.button {
    background-color: #a55318;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

.locale, .cibo{
    display: flex;
    padding: 20px;
    align-items: center;
    background-color: #a55318;
    border-radius: 5px;
}
.locale_logo, .cibo_logo{
    width: 120px;
}
.locale_details, .cibo_details{
    padding: 5px;
    padding-left: 20px;
}
